// @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap Icons SCSS file. */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// ------ Variables --------
:root {
  --background-color: lightyellow;
  --text-color: darkslategray;
  --primary-color: #0075B7;
  --second-color:#2196F3 ;
  --danger-color: #c02929;
  --primary-font-color: lightyellow;
  --black-color: #343a40;
  --white-color: white;
  --gray-color: #f2f4f5;
  --gray-font: #666;
  --border-primary: rgba(--primary-color, 0.88);
  --primary-size: 1.09375rem;
  --p-font-size: 12px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
p{
  font-size: var(--p-font-size);
}
a, p, h1 , h2, h3, h4, h5{
  margin-bottom: 0;
  font-family: "Noto Kufi Arabic", "Odoo Unicode Support Noto", sans-serif;
}
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
// --------------- Helper ---------------
.black-cover{
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.underline-title {
  position: relative;
  display: block;
  margin-bottom: 1.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #DEE2E6;
  color: var(--primary-color);;
  span{font-weight: bolder;}
}
.underline-title:after {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 6rem;
  background-color: var(--second-color);
}
.three-lines{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.circle::-webkit-scrollbar {
  height: 8px !important;
}

.circle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px !important;
}

.circle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color, 0.88);
}
// -------------------------------------

// ----------- PrimeNG -----------------
.p-button-rounded{
  height: 2rem;
  font-size: 15px;
}
.p-scrolltop{
  background-color: var(--primary-color) !important;
}
.p-breadcrumb {
  overflow-x: auto;
  background-color: transparent;
  border-radius: 12px;
}
// -------------- ANGULAR MATERIAL ---------
mat-form-field{
  width: 100%;
}

// -------------- DASHBOARD ---------
.dashboard{
  .dashboard-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--gray-font);
    font-weight: 600;
  }
  .card{
    border-radius: 5px;
    .card-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
      padding: .5rem;
      font-size: 17px;
      p{
        font-size: var(--primary-size);
        color: var(--primary-color);
      }
    }
    .tools{
      padding-right: 16px;
      line-height: normal;
      vertical-align: middle;
      .btn-color {
        color: #97a0b3;
        margin-right: 3px;
        font-size: 12px;
        cursor: pointer;
      }
    }
    .card-content{
      min-height: 10rem;
      padding: 1rem;
      .search-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
  }
}
